/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.favorite-form, .unfavorite-form {
  position: relative;
  left: -4px;
}

.unfavorite-button, .favorited .favorite-button {
  display: none;
}

.favorited .unfavorite-button, .favorite-button {
  display: block;
}

.xist_title {
  background: rgb(100,100,100);
  display: inline-block;
}

.button-container {
  display: inline-block;
}

.file_title {
  background: rgb(200,200,200);
}

.file_body {
  background: rgb(220,220,220);

}

.xist-file-form {
  border: rgb(240,240,240) solid 1px;
  padding: 10px;
  width: 400px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.hide {
  display: none;
}